*{
    box-sizing: border-box;
}

svg {
    height: 1em;
    margin-bottom: -0.1em;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

fieldset{
    border-style: solid;
    border-color: currentColor;
    margin: 0;
}

.button{
    background: transparent;
    border: solid 0.1em;
    padding: 0.6em;
    color: currentColor;
    font-size: inherit;
}

#background {
    height: 100vh;
    width: 100vw;
    background-color: #E7BF82;
}

#clock {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clock {
    text-align: center;
    font-size: 25vw;
    letter-spacing: 0px;
    padding-left: .2em;
}

.clock .hours {
    font-weight: 700;
}

.clock .minutes {
    font-weight: 100;
}

.clock .seconds {
    font-weight: 100;
    font-size: .2em
}

#weather {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5vw;
}

#weather .treshold{
    color: #3980d1;
}

#alarm {
    display: none;
}

#alarm h1{
    margin-bottom: 16vh;
}

#alarm .button{
    font-size: inherit;
    margin-bottom: 4vh;
}

#alarm.active{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: 20px;
    right: 20px;
    font-size: 5vw;
    padding: 20px;
    background-color: rgba(88, 34, 34, 0.71);
    color: #fff;
}

#options .show-options{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3vw;
}

#options.active .show-options{
    display: none;
}

#options .options-box{
    display: none;
}

#options.active .options-box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: 20px;
    right: 20px;
    font-size: 4vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.71);
    color: #fff;
}

#options.active .options-box .minutes, #options.active .options-box .hours{
    flex-direction: row;
}

#options .options-box-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clock-set-box{
    display: flex;
    flex-direction: row;
}
.options-box .save, .options-box .cancel{
    background: transparent;
    border: solid 0.1em;
    padding: 0.3em;
    text-align: center;
    color: currentColor;
    font-size: inherit;
    width: 40%;
    margin-top: 3%;
}

.options-box .save{
    color: #0b9b36;
}

.options-box .cancel{
    color: #ea1515;
}

.temp-treshold{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clock-set-box .button, .clock-set-box .input,
.temp-treshold .button, .temp-treshold .input
{
    background: transparent;
    border: solid 0.1em;
    padding: 0.3em;
    text-align: center;
    color: currentColor;
    font-size: inherit;
    width: 26%;
    margin: 0px 1%;
}

#alarm-indicator {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 5vw;
    color: #ea1515;
}